translate/src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow
		name="translateUsingNLPCloudAPI"
		doc:id="95b17ca1-77cf-4706-ad86-8f27fda85473">
		<http:listener doc:name="Listener" doc:id="143b0074-d22e-4e34-a39c-0c662df9a560" config-ref="HTTP_Listener_config" path="/nlp" allowedMethods="POST" />
		<http:request
			method="POST"
			doc:name="Call NLP Cloud Translate API - Convert English to Spanish"
			doc:id="a70b17f6-4983-44f4-accb-7b5341e0e897"
			url="${nlp.url}" targetValue="#[output application/json --- read(payload, &quot;application/json&quot;).'translation_text']" target="translatedText">
			<http:body><![CDATA[#[{
	"text":payload.'messageToTranslate',
	"source":"eng_Latn",
	"target":"spa_Latn"
}]]]></http:body>
			<http:headers><![CDATA[#[output text/plain
---
{
	"Authorization" : "Token " ++ p("secure::nlp.apiKey"),
	"Content-Type" : "application/json"
}]]]></http:headers>
		</http:request>
    <flow-ref doc:name="callChatGPT" doc:id="e9d47849-6dc1-4f48-8db2-98efbb53c96c" name="callChatGPT"/>
    <ee:transform doc:name="Transform Message" doc:id="dcbbc599-6bf3-4878-8382-e96dadfa723a" >
      <ee:message >
        <ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"toSpanish-fromNLPCloudAPI": vars.translatedText,
	"backToEnglish-fromChatGPT": payload.choices[0].message.content as String replace "\n\n" with ""
}]]></ee:set-payload>
      </ee:message>
    </ee:transform>
    <logger
			level="INFO"
			doc:name="Logger"
			doc:id="2e711e45-3367-4b52-b469-f75aae7f7c44"
			message="#[payload]" />
	</flow>
  <flow name="translateUsingGoogleAPI" doc:id="a0e7b012-aa0d-4b61-9e75-0d9e6e60ed2f">
    <http:listener doc:name="Listener" doc:id="243cdd2e-5da5-4dc3-8e09-0fa352244d84" config-ref="HTTP_Listener_config" path="/google" allowedMethods="POST"/>
    <http:request method="POST" doc:name="Call Google Translate API - Convert English to Spanish" doc:id="3ca84f28-a00d-4a30-bb4c-783d4a4dc764" url="${google.url}" target="translatedText" targetValue="#[payload[0][0][0]]">
      <http:query-params ><![CDATA[#[{
	client: "gtx",
	sl: "en",
	tl: "es",
	dt: "t",
	q: payload.'messageToTranslate'
}]]]></http:query-params>
    </http:request>
    <flow-ref doc:name="callChatGPT" doc:id="55f319c3-6835-4c1d-bb0e-9afa2b7ed893" name="callChatGPT"/>
    <ee:transform doc:name="Transform Message" doc:id="3a925d3d-f2d5-42fd-8617-942af64d5b66">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"toSpanish-fromGoogleTranslate": vars.translatedText,
	"backToEnglish-fromChatGPT": payload.choices[0].message.content as String replace "\n\n" with ""
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    <logger level="INFO" doc:name="Logger" doc:id="ad78d758-0f44-47e9-984c-77107e392ded" />
  </flow>
  <flow name="translateUsingTranslateDotCom" doc:id="55020f9d-42ed-43e6-841d-1757df81dbec">
    <http:listener doc:name="Listener" doc:id="2f990699-75c3-46a9-b844-0fefeaef8857" config-ref="HTTP_Listener_config" path="/translate"/>
    <http:request method="POST" doc:name="Request" doc:id="c80862d3-9324-4611-95d0-096194b94b96" url="${translate.url}" target="translatedText" targetValue="#[payload.'translation']">
      <http:headers ><![CDATA[#[{
	accept: "*/*",
	"x-api-key": p("secure::translate.apiKey"),
	"Content-Type": "application/x-www-form-urlencoded",
	"X-CSRF-TOKEN": ""
}]]]></http:headers>
      <http:query-params ><![CDATA[#[{
	source_language: "en",
	translation_language: "es",
	text: lower(payload.'messageToTranslate') replace " " with "%20"
}]]]></http:query-params>
    </http:request>
    <flow-ref doc:name="callChatGPT" doc:id="d76d40e8-4059-40d8-92bb-053bdf16a102" name="callChatGPT"/>
    <ee:transform doc:name="Transform Message" doc:id="910982de-77f0-41e0-a72e-8bef8e5aba9a" >
      <ee:message >
        <ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"toSpanish-fromTranslateDotCom": vars.translatedText,
	"backToEnglish-fromChatGPT": payload.choices[0].message.content as String replace "\n\n" with ""
}]]></ee:set-payload>
      </ee:message>
    </ee:transform>
    <logger level="INFO" doc:name="Logger" doc:id="c54e34e0-e42f-4222-a6da-d8e9b5135454" />
  </flow>
  <flow name="translateUsingLectoAPI" doc:id="3ad26760-81ee-4a88-a4a6-fd5ac363762c" >
    <http:listener doc:name="Listener" doc:id="2285f494-5b9c-4c3b-99f3-1949e67de102" config-ref="HTTP_Listener_config" path="/lecto" allowedMethods="POST"/>
    <http:request method="POST" doc:name="Request" doc:id="97631030-3c2b-4e38-9909-da5df64555a7" url="${lecto.url}" target="translatedText" targetValue='#[payload.translations[0].translated joinBy "  "]'>
      <http:body ><![CDATA[#[{
	"texts": [payload.'messageToTranslate'],
                          "to": ["es"],
                          "from": "en"
}]]]></http:body>
      <http:headers ><![CDATA[#[{
	"Content-Type": "application/json",
	Accept: "application/json",
	"X-API-Key": p("secure::lecto.apiKey")
}]]]></http:headers>
    </http:request>
    <flow-ref doc:name="callChatGPT" doc:id="abcc2cec-d6af-4126-9657-03769695bae6" name="callChatGPT"/>
    <ee:transform doc:name="Transform Message" doc:id="6b73c072-35f2-4b22-a0ef-7024fb501cb5" >
      <ee:message >
        <ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"toSpanish-fromLectoAPI": vars.translatedText,
	"backToEnglish-fromChatGPT": payload.choices[0].message.content as String replace "\n\n" with ""
}]]></ee:set-payload>
      </ee:message>
    </ee:transform>
    <logger level="INFO" doc:name="Logger" doc:id="66f59b7b-fe81-4553-83c1-5bd7dc485040" />
  </flow>
  <sub-flow name="callChatGPT" doc:id="5b0b5a60-c2fb-4ae7-a857-1ab73fe56d10" >
    <http:request method="POST" doc:name="Call ChatGPT API - Convert Spanish to English" doc:id="9bed9a40-faa5-41f7-91a5-f866677ffddc" url="${chatGPT.url}">
			<http:body><![CDATA[#[output application/json
---
{
 "model": "gpt-3.5-turbo",
 "messages": [{"role": "user", "content": "Translate " ++ vars.translatedText as String ++ " to English"}],
 "temperature": 0.7
}]]]></http:body>
			<http:headers><![CDATA[#[output text/plain
---
{
	"Authorization" : "Bearer " ++ p("secure::chatGPT.apiKey"),
	"Content-Type" : "application/json"
}]]]></http:headers>
		</http:request>
  </sub-flow>
</mule>
