translate/src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule
  xmlns="http://www.mulesoft.org/schema/mule/core"
  xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
  xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
  xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
  xmlns:http="http://www.mulesoft.org/schema/mule/http"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
  <apikit:config
    name="translate-api-config"
    api="resource::b59611a2-3e3f-4e84-b99a-b45bd45aed81:translate-api:2.0.0:raml:zip:translate-api.raml"
    outboundHeadersMapName="outboundHeaders"
    httpStatusVarName="httpStatus" />
  <flow name="translate-api-main">
    <http:listener
      config-ref="HTTP_Listener_config"
      path="/api/*">
      <http:response statusCode="#[vars.httpStatus default 200]">
        <http:headers>#[vars.outboundHeaders default {}]</http:headers>
      </http:response>
      <http:error-response statusCode="#[vars.httpStatus default 500]">
        <http:body>#[payload]</http:body>
        <http:headers>#[vars.outboundHeaders default {}]</http:headers>
      </http:error-response>
    </http:listener>
    <apikit:router config-ref="translate-api-config" />
    <error-handler ref="apiMainErrorHandler" />
  </flow>
  <flow name="translate-api-console">
    <http:listener
      config-ref="HTTP_Listener_config"
      path="/console/*">
      <http:response statusCode="#[vars.httpStatus default 200]">
        <http:headers>#[vars.outboundHeaders default {}]</http:headers>
      </http:response>
      <http:error-response statusCode="#[vars.httpStatus default 500]">
        <http:body>#[payload]</http:body>
        <http:headers>#[vars.outboundHeaders default {}]</http:headers>
      </http:error-response>
    </http:listener>
    <apikit:console config-ref="translate-api-config" />
    <error-handler ref="apiConsoleErrorHandler"/>
  </flow>
  <flow name="get:\translate\(vendor):translate-api-config">
    <ee:transform>
      <ee:variables>
        <ee:set-variable variableName="vendor">attributes.uriParams.'vendor'</ee:set-variable>
      </ee:variables>
    </ee:transform>
    <flow-ref
      doc:name="translate_main"
      doc:id="01d83580-65c4-4e70-ada6-13eefcfe5e61"
      name="translate_main" />
  </flow>
</mule>
